{% extends 'main_pages/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}

{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      </div>
    </section>
    <!-- /.content -->

<h3> Add student from Form </h3>
<br>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload</button>
</form>

{% endblock main_content %}

